.sass-cache/
*.css.map


data pa_data;
set hive.tmp_zym_pa;
run;
proc sort data=pa_data out=pa_data_1;by userid borrow_type;run;

data pa_classifier;
set pa_data_1(keep=userid borrow_type late_days  target org classifier_owner classifier_scene classifier_tool classifier_behavior classifier_business classifier_advert classifier_user);
run;

/*data pa_amount;
set pa_data_1(keep=userid borrow_type late_days  target loan_amount deposit_amount income_amount credit_limit overdue_day overdue_amount bill_amount payment_amount consume_amount);
loan_amount_1=input(scan(compress(loan_amount,'['),1,','),8.);
deposit_amount_1=input(scan(compress(deposit_amount,'['),1,','),8.);
income_amount_1=input(scan(compress(income_amount,'['),1,','),8.);
credit_limit_1=scan(compress(credit_limit,'['),1,',')+0;
overdue_day_1=input(compress(overdue_day,'天'),8.);
overdue_amountt_1=input(scan(compress(overdue_amount,'['),1,','),8.);
bill_amount_1=input(scan(compress(bill_amount,'['),1,','),8.);
payment_amount_1=input(scan(compress(payment_amount,'['),1,','),8.);
consume_amount_1=input(scan(compress(consume_amount,'['),1,','),8.);
drop loan_amount deposit_amount income_amount credit_limit overdue_day overdue_amount bill_amount payment_amount consume_amount;
run;*/



/*覆盖率分为空值、0和非0*/
proc format;
value frmt
0="0"
0<-high=">0"
other="missing";
run;



%MACRO  freq_var(InputVar_List= , table=, result=);
%LET i =1;
%DO %WHILE (%SCAN(&InputVar_List, &i) NE );
     data &table;
	 set &table;
	 x=put(%SCAN(&InputVar_List, &i),frmt.);
	 run;
	proc freq data=&table;
	table x/missing out=freq&i;/*不调用这个函数将没有返回相加的值*/

	data freq&i;
    set freq&i;
	length varname $100.;
	varname="%SCAN(&InputVar_List, &i)";
	rename x=value;
	run;
	proc append base=&result	data=freq&i force;
	run;
	proc delete data=freq&i;run;
%LET i = %EVAL(&i+ 1);	/*不调用这个函数将没有返回相加的值*/	
%END;
		

%mend;

proc contents data=pa_classifier out=conts;
run;
proc sql;
select name into: InputVar_List separated by ' ' from conts where 
name not in ('target','userid','borrow_type','late_days');
quit;


%freq_var(InputVar_List=&InputVar_List , table=pa_classifier, result=result_2);
